  {% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


 <style>
  .bg-color{
    background-color: F2F2F2;
  }
  .bg-color2{
    background-color: B6B09F;
  }
  .textt{
    color: 000000;
    font-size: 30px;
    
  }
  .textt2{
    color: 000000;
    font-size: 20px;
  }
  .bcolor{
    background-color: 000000;
    color: F2F2F2;
    width: 200;
  }
  .bcolor:hover {
    background-color: #333333 !important; 
    border-color: #333333 !important;
    color: F2F2F2;
  } 
  </style>
  <body class="bg-color">
    <div class="container rounded-3 bg-color2 col-4 position-absolute top-50 start-50 translate-middle" >
    <div class="row align-items-center">
    
    
    
  <img src="media/Logo/ChaTeo.png" alt="Logo"  class="bottom-50 end-50 mx-5">
    
  <div class="d-flex gap-3 mt-3 mb-5">
  <a href="{% url 'user_app:login' %}" class="btn btn-lg bcolor">Iniciar sesión</a>
  <a href="{% url 'user_app:register'%}" class="btn btn-lg bcolor">Register</a>
  </div>
      


    </div>
  </div>
</div>
  </body>